<section class="hero is-info mt-6">
  <div class="hero-body">
    <p class="title">
      Login
    </p>
    <p class="subtitle">
      Login to MVC-CMS
    </p>
  </div>
</section>

<form id="login" class="box mb-6">
    <div class="field">
      <label class="label" for="usernameInput">Username</label>
      <div class="control has-icons-left">
      <input class="input" type="text" id="usernameInput" />
      <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
      </div>
    </div>
    <div class="field">
      <label class="label" for="passwordInput" class="form-label">Password</label>
      <div class="control has-icons-left">
      <input class="input" type="password" id="passwordInput" />
      <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
      </div>
    </div>

    <div class="field is-grouped">
  <div class="control">
    <button type="submit" class="button is-info">Login</button>
  </div>
  <a class="button is-link is-light" href="/signup">Create an Account</a>
</div>
  </form>



<script src="/js/login.js"></script>