<section class="hero is-danger mt-4">
  <div class="hero-body">
    <p class="title">
      New
    </p>
    <p class="subtitle">
      Create a New Post
    </p>
  </div>
</section>

<form id="newPost" class="box mb-6">
    <div class="field">
      <label class="label" for="titleInput">Post Title</label>
      <div class="control">
      <input class="input" type="text" id="titleInput" />
      </div>
    </div>
    <div class="field">
      <label class="label" for="postContent">Post Content</label>
      <textarea name="postContent" class="textarea"></textarea>
      </div>

  <div class="control">
    <button type="submit" class="button is-danger">Submit Post</button>
  </div>
  </form>

<script src="/js/newpost.js"></script>