<section class="hero is-warning mt-4 mb-4">
  <div class="hero-body">
    <p class="title">
    {{ post.title }}
    </p>
    <p class="subtitle">
    By {{ post.user.username }} on {{ formatDate post.createdAt }}
    </p>
  </div>
</section>

<div class="card block">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
  </div>